
*{
margin: 0;
padding: 0;
box-sizing : border-box;
text-size: 30px ;
font-family: 'PT Sans Narrow', sans-serif;
text-align :center;


}


h2 {


color: orange;

 }
p { 

color: slategray;

}
small {
color: lightgray;

 }

.main {
width: 800px;
background-color: ;

}
.header{
padding-top: 10px;
height: 500 ;

background-image: url("../images/header-bg.png");
}

.biography {
background-image : url("../images/biography-bg.png")


}


.latest-work {
padding-top: 100px;
text-align :center;
background-image: url("../images/latest-work-bg.png")

}

footer {
padding-top: 100px;
background-image: url("../images/footer-bg.png");
justify-content: center  ;
text-align :center;


}


.button {
padding: 3px 7px;
height: 30px;
background-image: linear-gradient(45deg, gold, orange) ;
border-radius: 5px;
color : #fff;
font-weight: 700;
text-decoration: none;

}


.flex {
display: flex;
justify-content: center ;



}

.flex {



}
.right {
justify-content: flex-end;


}

.half-width img {

width: 70%;
}
.half-width {
width: 45%;
height: 300px;




display: flex;
flex-direction: column;
justify-content: center;
align-items :center ;
}



.work img {
width: 30%;
margin: 10px;

 }

.work:hover {
opacity : 90%;

}

.work img:hover { 


transform : scale(1.3);
opacity: 200%;
z-index: 2;

box-shadow : 2px 2px 5px #a9a9a9;
}
 
 

.footer {

width: 450px;


}
 
 
.subscribe {

margin:50px auto ;
height: 100px ;
width: 450px;
background: orange ;
border-radius: 5px;
padding-top: 10px ;
}
 
 
 




